@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-display: "Space Grotesk", sans-serif;
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  --variant-dark: .dark &;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.1s ease;
}

:root {
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-icon {
  font-variation-settings: 'FILL' 1;
}

.ios-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* Custom transitions and states from user design */
.premium-card {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.premium-card:active {
  transform: scale(0.98);
}